
:host {
    flex: 1;
}

.faq-item--inner {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--color-purple-100);
    padding-block: var(--spacing-300);
}


.faq-question {
    background-color: var(--color-white);
    font-size: var(--font-size-preset-2);
    font-weight: var(--font-weight-semibold);
    border: none;
    text-align: left;
    display: flex;
    justify-content: space-between;
}


.faq-answer__wrapper.open {
    overflow: hidden;
    transition: max-height 0.75s ease, opacity 0.5s ease;
    max-height: 500px; 
    opacity: 1;
  }
  
  .faq-answer__wrapper {
    max-height: 0;
    opacity: 0;
    overflow: clip;
  }
